<div *ngIf="property" class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 p-1">
      <div class="card mt-2">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let imageUrl of property.propertyImages">
            <ng-template carouselSlide>
              <img class="d-block w-100 img-fluid custom-carousel-image" [src]="imageUrl"
                [alt]="property.propertyCategory" [title]="property.propertyCategory">
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

      <div class="card mt-2 mb-5 d-flex justify-content-between align-items-center">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title m-0">{{ property.propertyCategory }} for {{ property.transactionType }}</h5>
            <div id="agentTab" class="dropdown text-end">
              <a href="http://localhost:4200/home">
                <img src="/logo/logo.png" alt="user icon" width="32" height="32" class="rounded-circle"><br>
                <span class="text-light text-decoration-underline">Home</span>
              </a>
            </div>
          </div>
          <hr>
          <p class="card-text">{{ property.propertyDetails.description }}</p>
          <hr>
          <p class="card-text">
            {{ property.address.streetNo }}, {{ property.address.street }},
            {{ property.address.neighborhood }}, {{ property.address.city }},
            {{ property.address.state }}, {{ property.address.country }}
          </p>
          <hr>
          <h5 class="card-text"><strong>Details:</strong></h5>
          <table class="table table-borderless mb-0">
            <tbody>
              <tr>
                <th>Carpet area:</th>
                <td>{{property.propertyDetails.carpetArea}} sqm</td>
              </tr>
              <tr>
                <th>Built up area:</th>
                <td>{{property.propertyDetails.builtUpArea}} sqm</td>
              </tr>
              <tr>
                <th>Comfort type:</th>
                <td>{{property.propertyDetails.comfortType}}</td>
              </tr>
              <tr>
                <th>Floor:</th>
                <td>{{property.propertyDetails.floor}}</td>
              </tr>
              <tr>
                <th>Structure type:</th>
                <td>{{property.propertyDetails.structureType}}</td>
              </tr>
              <tr>
                <th>Year of construction:</th>
                <td>{{property.propertyDetails.yearOfConstruction}}</td>
              </tr>
              <tr>
                <th>Bath no:</th>
                <td>{{property.propertyDetails.bathNo}}</td>
              </tr>
              <tr>
                <th>Kitchen no:</th>
                <td>{{property.propertyDetails.kitchenNo}}</td>
              </tr>
              <tr>
                <th>Bedroom no:</th>
                <td>{{property.propertyDetails.bedroomNo}}</td>
              </tr>
              <tr>
                <th>Parking no:</th>
                <td>{{property.propertyDetails.parkingNo}}</td>
              </tr>
              <tr>
                <th>Balcony:</th>
                <td>{{property.propertyDetails.balcony}}</td>
              </tr>
              <tr>
                <th>Terrace:</th>
                <td>{{property.propertyDetails.terrace}}</td>
              </tr>
              <tr>
                <th>Swimming pool:</th>
                <td>{{property.propertyDetails.swimmingPool}}</td>
              </tr>
              <tr>
                <th>Energetic certificate:</th>
                <td>{{property.propertyDetails.energeticCertificate}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="row">
            <div class="col-6">
              <h5 class="card-text"><strong>Starting bid: </strong>{{ property.price | currency }}</h5>
            </div>
            <div *ngIf="isLoggedIn" class="col-6">
              <button class="btn btn-outline-light mt-2" (click)="bookAppointment()">Book appointment</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
